<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="correct-integrity-value"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/admin/admin.css" />
    <title>Page Admin</title>
  </head>
  <body>
    <div class="liner">
      <aside>
        <div class="user">
          <img
            src="/icons/business-manager-or-management-18880.svg"
            alt="User image"
          />
          <div>
            <h2><%= admin[0].nom %> <%= admin[0].prenom %></h2>
            <p><%= admin[0].email.substring(0, 20) + '...' %></p>
          </div>
        </div>
        <ul class="UL_aside">
            <li><img src="/icons/dashboard-svgrepo-com.svg" alt=""><a href="/admin/accueil">Accueil</a></li>
            <li><img src="/icons/doctor-svgrepo-com.svg" alt=""><a href="/admin/listdocs">Medcins</a></li>
            <li><img src="/icons/office-secretary-svgrepo-com.svg" alt=""><a href="/admin/listsec">Secritaires</a></li>
            <li><img src="/icons/fever-flu-ill-sick-svgrepo-com.svg" alt=""><a href="/admin/listpat">Patients</a></li>
            <li><img src="/icons/opened-book-3163.svg" alt=""><a href="/admin/services">Services</a></li>
            <li><img src="/icons/settings-svgrepo-com.svg" alt=""><a href="/admin/Settings">Settings</a></li>
            
        </ul>

        <form action="/logout" method="post">
          <button type="submit" class="Logout"><i class="fas fa-power-off"></i> <p>Logout</p></button>
      </form>

        <div class="spacer"></div>
      </aside>

      <main>
        <header>
          <h2><span class="namesec"><%= sec[0].nom.toUpperCase() %> <%= sec[0].prenom %></span> Profile</h2>
        </header>

        <div class="Codeholder">
          <div class="profile">

                <div class="exitEditbtn">
                    <a href="/admin/listsec"><div></div></a>
                    <button type="button" class="Editebtn" id="Editebtn"></button>
                </div>

                <div class="image_holder sec"></div>
                <h2>Dr. <%= sec[0].nom.toUpperCase() %> <%= sec[0].prenom %></h2>

                <form action="/modifysecbyadmin/<%= sec[0].idsec %>" method="post">
                  <% 
                                    var today = new Date();
                                    var thisyear = today.getFullYear();

                                    var date = new Date(sec[0].birthdate);
                                    var year = date.getFullYear();
                                    var Age = parseInt(thisyear) -  parseInt(year);  
                  %>
                <button class="confirmerbtn hidebtn" id="confirm">Confirmer</button>
                <div class="info_holder">
                    <div class="info_S">
                        <label for="Adress">Aderess</label>
                        <input type="text" id="Adress" name="address" class="input disabled" value=<%= sec[0].address || "--" %> readonly>

                        <label for="Service">Numero CIN</label>
                        <input type="text" class="input disabled" value="<%= sec[0].ncin %>" readonly>

                    </div>

                    <div class="info_S">
                        <label for="Adress">Matricule</label>
                        <input type="text" class="input disabled" value=<%= sec[0].matricule || "--" %> readonly>

                        <label for="Service">Age</label>
                        <input type="text" class="input disabled" value="<%= Age %>" readonly>
                    </div>

                    <div class="info_S">
                        <label for="Adress">Numero de telephone</label>
                        <input type="text" id="phone" name="phone" value=<%= sec[0].phone || "--" %> class="input disabled" required minlength="10" readonly>

                        <label for="Service">Email</label>
                        <input type="text" id="email" name="email" class="input disabled" value=<%= sec[0].email%> required minlength="8" readonly>
                    </div>

                </div>
            </form>
          </div>
        </div>
      </main>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function(){

      
      var modify = document.getElementById("Editebtn");
      var Adress = document.getElementById("Adress");
      var phone = document.getElementById("phone");
      var email = document.getElementById("email");
      var confirme = document.getElementById("confirm");

      modify.addEventListener("click" , function(){
        console.log("jdej");
        Adress.removeAttribute("readonly");
        phone.removeAttribute("readonly");;
        email.removeAttribute("readonly");;
        Adress.classList.remove("disabled");
        phone.classList.remove("disabled");
        email.classList.remove("disabled");
        confirme.classList.remove("hidebtn");
        modify.classList.add("hidebtn");
      });

      confirme.addEventListener("click" , function(){
        Adress.setAttribute("readonly");
        phone.setAttribute("readonly");
        email.setAttribute("readonly");
        Adress.classList.add("disabled");
        phone.classList.add("disabled");
        email.classList.add("disabled");
        confirme.classList.add("hidebtn");
        modify.classList.remove("hidebtn");
      });
    });
    </script>
  </body>
</html>
