<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="img/h.png" type="image/png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/forgot.css" />
    <title>Authentification</title>
  </head>

  <body>
    <a href="/"><section class="section_logo">
      <h1 class="logo">Shifa logo</h1></a>
      <span>votre sante en ligne</span>
    </section>
    <div class="alert_container">
    <% if (emailNotfound)  { %>
        <div class="alert alert-danger alert-dismissible fade show absoluteposition" id="warning" role="alert">
          <%=emailNotfound%>
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>
    <% } %>
    </div>  
    <main>
        <h2>Vous avez oblieer votre<strong> Mot de pass </strong>?</h2>
        <label for="email" style=<%= form1 %>>Email:</label>

    <form action="/forgotpswd" method="post" style=<%= form1 %>>
        <input type="text" id="email" name="email" placeholder="Votre email (email de votre compte)">
        <a href="/auth">vous sevienez?</a>
        <button type="submit" class="btn btn-primary btn-costum">
            <i class="fas fa-arrow-right"></i>
        </button>
    </form>
<label for="code" style=<%= form2 %>>Code:</label>
<!-- it should be hidden until the user send his email -->
    <form action="/forgotpswd/config" method="post" style=<%= form2 %>>
        <input type="text" id="code" name="code" placeholder="Voir votre email box">
        <a href="/auth">vous sevienez?</a>
        <button type="submit" class="btn btn-primary btn-costum">
            <i class="fas fa-arrow-right"></i>
        </button>
    </form>
    <label for="code" style=<%= form3 %>>Noveux Mot de Pass:</label>
    <form action="/forgotpswd/config/changepswd" method="post" style=<%= form3 %>>
        <input type="text" id="new" name="newpassword" placeholder="le noveux password ici " minlength="8">
        <a href="/auth">vous sevienez?</a>
        <button type="submit" class="btn btn-primary btn-costum">VALIDER</button>
    </form>
    </main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>
</html>